

@each $social in facebook, instagram, google, whatsapp {
	.#{$social} {
		background: url(../../img/socialicons/#{$social}.png) no-repeat;
		width:48px;
		height:48px;
		cursor:pointer;
		display: inline-block;
		text-align:center;
		margin-right:5px;
	}
	.#{$social}:hover {
		opacity:0.8;
	}
}