.facebook {
  background: url(../../img/socialicons/facebook.png) no-repeat;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 5px; }

.facebook:hover {
  opacity: 0.8; }

.instagram {
  background: url(../../img/socialicons/instagram.png) no-repeat;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 5px; }

.instagram:hover {
  opacity: 0.8; }

.google {
  background: url(../../img/socialicons/google.png) no-repeat;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 5px; }

.google:hover {
  opacity: 0.8; }

.whatsapp {
  background: url(../../img/socialicons/whatsapp.png) no-repeat;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 5px; }

.whatsapp:hover {
  opacity: 0.8; }

body {
  font-family: "Acme", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  color: #333333;
  background: url(../../img/bodybg.png) repeat; }

#navigation .navbar-brand img {
  max-width: 300px; }

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.carousel .active {
  left: 0; }

.carousel .active, .carousel .next, .carousel .prev {
  display: block; }

.footerli {
  border-top: 1px solid #CCC;
  border-bottom: 2px solid #fff;
  margin-top: 30px; }

.bottomCards {
  padding: 32px; }

.btn-primary {
  background-color: #e28743;
  border-color: #e28743; }

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #333 !important;
  border-color: #333; }

.block__header {
  background-color: #f9e7b5; }

.block__main_content {
  background-color: #eeeee4;
  padding: 33px; }

.block__footer {
  border-bottom: 5px solid #2d572c; }

.block__menu > div {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #f5f5f5; }

.imageMenu {
  margin-bottom: 20px;
  width: 100%; }

.footerli {
  margin-bottom: 15px; }

.contactInfo {
  padding: 32px; }
  .contactInfo iframe {
    width: 100%; }
